/* google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;800&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  color: #111;
}

/* :root {
  --text-primary: #111;
} */

header {
  background-color: #f9f6e2;
}

.discount {
  color: #e527b2;
}

figure {
  background-color: #1111110d;
  height: 40%;
}

card img {
  object-fit: cover;
}

input {
  border-radius: 8px;
  border: 1px solid rgba(17, 17, 17, 0.15);
  background: #fff;
}

.cart-text {
  font-size: 1.5rem;
  font-weight: 500;
}

.price span {
  color: #11111146;
}



